<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li>
          <a href="/"><i class="fa fa-times-circle wbdv-close icon"></i></a>
        </li>
        <li class="nav-item active">
          <h3>title</h3>
        </li>
      </ul>
    </div>
  </nav>
  <div class="row">
    <div class="col-3">
      <a>ahhhhhh modules</a>
    </div>
    <div class="Lessons col-8 d-flex">
      <div class="col-12 wbdv-lessons">
        <a>ahhhhh lessosn</a>
      </div>
    </div>
  </div>
</div>
